%footer#app-footer
  %div#left-column
    #{link_to 'Here For Reentry', 'http://www.here4reentry.com', target: '_blank'} | Search
    a project developed by
    #{link_to 'Code for America', 'http://codeforamerica.org', target: '_blank' } in partnership with the
    #{link_to 'Baltimore Mayor\'s Office on Criminal Justice', 'http://www.baltimorecity.gov', target: '_blank'}
    and
    #{link_to 'Living Cities Foundation', 'http://livingcities.org', target: '_blank'}.

  %div#right-column
    %p.get-this-app
      %i.fa.fa-bullhorn
      %a{ href: 'https://github.com/codeforamerica/ohana-web-search' } Get this app
      for your city or
      #{link_to 'view project details', 'http://ohanapi.org'}.

  #google-translate-container
